<launch>

  <arg name="config_file" default="$(find mrs_odometry)/config/simulation/rtk.yaml"/>
  <arg name="simulation" default="true" />
  <arg name="debug" default="false" />
  <arg name="standalone" default="$(optenv STANDALONE false)" />
  <arg name="profiler" default="$(optenv PROFILER false)" />

  <include file="$(find mrs_odometry)/launch/include/odometry_nodelet.launch">

    <arg name="config_file" value="$(arg config_file)"/>
    <arg name="simulation" value="$(arg simulation)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="standalone" value="$(arg standalone)" />
    <arg name="profiler" value="$(arg profiler)" />

  </include>

</launch>
