<launch>

  <!-- simulation/uav -->
  <!-- configs are bundled in "simulation" and "uav" folders -->
  <arg name="RUN_TYPE" default="$(optenv RUN_TYPE)" />

  <!-- Distinguishes the odometry fusion type configuration -->
  <!-- e.g., gps, optflow, vio, etc. -->
  <!-- for the options, look into ... -->
  <arg name="ODOMETRY_TYPE" default="$(optenv ODOMETRY_TYPE)" />

  <arg name="config_file" default="$(find mrs_odometry)/config/$(arg RUN_TYPE)/$(arg ODOMETRY_TYPE).yaml"/>
  <arg name="simulation" default="true" />
  <arg name="debug" default="false" />
  <arg name="standalone" default="$(optenv STANDALONE false)" />
  <arg name="profiler" default="$(optenv PROFILER false)" />
  <arg name="pixgarm" default="$(optenv PIXGARM false)" />

  <include file="$(find mrs_odometry)/launch/include/odometry_nodelet.launch">

    <arg name="config_file" value="$(arg config_file)"/>
    <arg name="simulation" value="$(arg simulation)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="standalone" value="$(arg standalone)" />
    <arg name="profiler" value="$(arg profiler)" />
    <arg name="pixgarm" value="$(arg pixgarm)" />

  </include>

</launch>
