<launch>

  <!-- args corresponding to environment variables -->
  <arg name="RUN_TYPE" default="$(env RUN_TYPE)" />
  <arg name="ODOMETRY_TYPE" default="$(env ODOMETRY_TYPE)" />
  <arg name="UAV_TYPE" default="$(env UAV_TYPE)" />
  <arg name="UAV_NAME" default="$(env UAV_NAME)" />
  <arg name="PIXGARM" default="$(optenv PIXGARM false)" />
  <arg name="PROFILER" default="$(optenv PROFILER false)" />
  <arg name="WORLD_FILE" default="$(optenv WORLD_FILE)" />
  <arg name="WORLD_NAME" default="$(optenv WORLD_NAME)" />
  <arg name="GARMIN_FILTERED" default="$(optenv GARMIN_FILTERED false)" />

  <arg if="$(eval arg('WORLD_FILE') == '' and arg('WORLD_NAME') != '')" name="world_file" value="$(find mrs_uav_general)/config/worlds/world_$(env WORLD_NAME).yaml" />
  <arg if="$(eval arg('WORLD_FILE') == '' and arg('WORLD_NAME') == '' and arg('RUN_TYPE') == 'simulation')" name="world_file" value="$(find mrs_uav_general)/config/worlds/world_simulation.yaml" />
  <arg if="$(eval arg('WORLD_FILE') != '')" name="world_file" value="$(arg WORLD_FILE)" />

    <!-- other args -->
  <arg name="custom_config" default="" />
  <arg name="debug" default="false" />
  <arg name="standalone" default="true" />

  <arg if="$(eval arg('RUN_TYPE') == 'simulation' and arg('UAV_TYPE') == 't650')" name="UAV_MASS" default="3.5" />
  <arg if="$(eval arg('RUN_TYPE') == 'simulation' and arg('UAV_TYPE') == 'f550')" name="UAV_MASS" default="3.0" />
  <arg if="$(eval arg('RUN_TYPE') == 'simulation' and arg('UAV_TYPE') == 'f450')" name="UAV_MASS" default="2.3" />
  <arg if="$(eval arg('RUN_TYPE') == 'simulation' and arg('UAV_TYPE') == 'm600')" name="UAV_MASS" default="10.0" />
  <arg if="$(eval arg('RUN_TYPE') == 'simulation' and arg('UAV_TYPE') == 'eaglemk2')" name="UAV_MASS" default="10.0" />
  <arg if="$(eval arg('RUN_TYPE') == 'uav')" name="UAV_MASS" default="$(env UAV_MASS)" />

  <arg name="config_file" default="$(find mrs_uav_odometry)/config/$(arg RUN_TYPE)/$(arg ODOMETRY_TYPE).yaml" />

  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="standalone" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="load" />
  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="$(arg UAV_NAME)_nodelet_manager" />

  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <arg if="$(eval arg('RUN_TYPE') == 'simulation')" name="simulation" value="true" />
  <arg unless="$(eval arg('RUN_TYPE') == 'simulation')" name="simulation" value="false" />

  <arg if="$(eval arg('RUN_TYPE') == 'simulation')" name="range_topic" value="garmin/range" />

  <arg if="$(eval arg('PIXGARM') and not arg('GARMIN_FILTERED') and not arg('simulation'))" name="range_topic" value="mavros/distance_sensor/garmin" />

  <arg if="$(eval not arg('PIXGARM') and arg('GARMIN_FILTERED') and not arg('simulation'))" name="range_topic" value="garmin/range_filtered" />
  <arg if="$(eval arg('PIXGARM') and arg('GARMIN_FILTERED') and not arg('simulation'))" name="range_topic" value="mavros/distance_sensor/garmin_filtered" />

  <arg if="$(eval arg('RUN_TYPE') == 'simulation')" name="default_config_file" value="$(find mrs_uav_odometry)/config/simulation/simulation_default.yaml" />
  <arg unless="$(eval arg('RUN_TYPE') == 'simulation')" name="default_config_file" value="$(find mrs_uav_odometry)/config/uav/uav_default.yaml" />

  <include file="$(find mrs_uav_odometry)/launch/rtk_republisher.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />
    <arg name="standalone" value="$(arg standalone)" />

  </include>

  <group ns="$(arg UAV_NAME)">

    <node pkg="nodelet" type="nodelet" name="odometry" args="$(arg nodelet) mrs_uav_odometry/Odometry $(arg nodelet_manager)" output="screen" launch-prefix="$(arg launch_prefix)">

      <param name="enable_profiler" type="bool" value="$(arg PROFILER)" />

      <rosparam file="$(find mrs_uav_odometry)/config/default_config.yaml" command="load" />
      <rosparam file="$(arg default_config_file)" command="load" />
      <rosparam file="$(arg default_config_file)" command="load" />
      <rosparam file="$(find mrs_uav_odometry)/config/state_estimators.yaml" command="load" />
      <rosparam file="$(find mrs_uav_odometry)/config/altitude_estimator.yaml" command="load" />
      <rosparam file="$(find mrs_uav_odometry)/config/heading_estimator.yaml" command="load" />
      <rosparam file="$(arg config_file)" />
      <rosparam file="$(arg world_file)" />

      <rosparam if="$(eval not arg('custom_config') == '')" file="$(arg custom_config)" />

      <!-- parameter -->
      <param name="uav_name" type="string" value="$(arg UAV_NAME)" />
      <param name="uav_mass" type="double" value="$(arg UAV_MASS)" />
      <param name="simulation" type="bool" value="$(arg simulation)" />
      <param name="use_gt_orientation" type="bool" value="false" />

      <!-- Subscribers -->
      <remap from="~attitude_command_in" to="control_manager/attitude_cmd" />
      <remap from="~pixhawk_imu_in" to="mavros/imu/data" />
      <remap from="~control_acc_in" to="/imu/data" />
      <remap from="~pixhawk_compass_in" to="mavros/global_position/compass_hdg" />
      <remap from="~pixhawk_odom_in" to="mavros/local_position/odom" />
      <remap from="~optflow_in" to="optic_flow/velocity" />
      <remap from="~optflow_low_in" to="optic_flow/velocity_longrange" />
      <remap from="~vio_in" to="/vins_estimator/odometry_tf" />
      <remap from="~vslam_in" to="ground_truth_pose" />
      <remap from="~t265_odom_in" to="ground_truth" />
      <remap from="~brick_pose_in" to="brick_grasping/current_target_uav_odom" />
      <remap from="~garmin_in" to="$(arg range_topic)" />
      <remap from="~sonar_in" to="ultrasound/range" />
      <remap from="~plane_in" to="brick_detection/altitude" />
      <remap from="~global_position_in" to="mavros/global_position/global" />
      <remap from="~hector_pose_in" to="hector_mapping/slam_out_pose" />
      <remap from="~tower_pose_in" to="tower_mapping/slam_out_pose" />
      <remap from="~aloam_odom_in" to="aloam/odom" />
      <remap from="~control_manager_diag_in" to="control_manager/diagnostics" />
      <remap from="~rtk_gps_in" to="rtk_gps/global" />
      <remap from="~icp_twist_in" to="mrs_icp2d/twist_body" />
      <remap from="~ground_truth_in" to="ground_truth" />
      <remap from="~uav_mass_estimate_in" to="control_manager/mass_estimate" />
      <remap from="~gps_covariance_in" to="mavros/global_position/local" />

      <!-- Publishers -->
      <!-- UAV state used for control -->
      <remap from="~uav_state_out" to="~uav_state" />

      <!-- Odometry publishers -->
      <remap from="~odom_main_out" to="~odom_main" />
      <remap from="~odom_main_inno_out" to="~odom_main_innovation" />
      <remap from="~odom_local_out" to="~odom_local" />
      <remap from="~odom_stable_out" to="~odom_stable" />
      <remap from="~odom_optflow_out" to="~odom_optflow" />
      <remap from="~odom_gps_out" to="~odom_gps" />
      <remap from="~odom_hector_out" to="~odom_hector" />
      <remap from="~odom_optflowgps_out" to="~odom_optflowgps" />
      <remap from="~odom_object_out" to="~odom_object" />
      <remap from="~odom_brick_out" to="~odom_brick" />
      <remap from="~odom_vio_out" to="~odom_vio" />
      <remap from="~odom_icp_out" to="~odom_icp" />
      <remap from="~odom_mavros_out" to="~odom_mavros" />
      <remap from="~slow_odom_out" to="~slow_odom" />
      <remap from="~esp_odom_out" to="~esp_odom" />
      <remap from="~rtk_local_out" to="~rtk_local" />
      <remap from="~rtk_local_odom_out" to="~rtk_local_odom" />
      <remap from="~gps_local_odom_out" to="~gps_local_odom" />

      <remap from="~odometry_diag_out" to="~diagnostics" />
      <remap from="~altitude_out" to="~altitude" />
      <remap from="~height_out" to="~height" />
      <remap from="~altitude_state_out" to="~altitude_state" />
      <remap from="~max_altitude_out" to="~max_altitude" />
      <remap from="~orientation_out" to="~orientation" />
      <remap from="~lkf_states_x_out" to="~lkf_states_x" />
      <remap from="~lkf_states_y_out" to="~lkf_states_y" />
      <remap from="~orientation_gt_out" to="~orientation_gt" />
      <remap from="~orientation_mavros_out" to="~orientation_mavros" />
      <remap from="~orientation_target_out" to="~orientation_target" />
      <remap from="~brick_diag_out" to="~brick_diag" />
      <remap from="~imu_untilted_out" to="~imu_untilted" />

      <!-- Debug publishers -->
      <remap from="~profiler" to="profiler" />

      <!-- Debug publishers of estimator corrections -->
      <remap from="~debug_compass_hdg_corr_out" to="~debug_comppass_hdg_corr" />
      <remap from="~debug_hector_hdg_corr_out" to="~debug_hector_hdg_corr" />
      <remap from="~debug_aloam_hdg_corr_out" to="~debug_aloam_hdg_corr" />
      <remap from="~debug_brick_hdg_corr_out" to="~debug_brick_hdg_corr" />
      <remap from="~debug_vio_hdg_corr_out" to="~debug_vio_hdg_corr" />
      <remap from="~debug_vslam_hdg_corr_out" to="~debug_vslam_hdg_corr" />
      <remap from="~debug_cmd_hdg_input_out" to="~debug_cmd_hdg_input" />
      <remap from="~debug_cmd_hdg_rate_input_out" to="~debug_cmd_hdg_rate_input" />

      <!-- Services -->
      <remap from="~average_current_position_in" to="~average_current_position" />
      <remap from="~toggle_garmin_in" to="~toggle_garmin" />
      <remap from="~toggle_rtk_altitude_in" to="~toggle_rtk_altitude" />
      <remap from="~change_odometry_source_in" to="~change_odometry_source" />
      <remap from="~change_estimator_type_in" to="~change_estimator_type" />
      <remap from="~change_estimator_type_string_in" to="~change_estimator_type_string" />
      <remap from="~change_alt_estimator_type_in" to="~change_alt_estimator_type" />
      <remap from="~change_alt_estimator_type_string_in" to="~change_alt_estimator_type_string" />
      <remap from="~change_hdg_estimator_type_in" to="~change_hdg_estimator_type" />
      <remap from="~change_hdg_estimator_type_string_in" to="~change_hdg_estimator_type_string" />
      <remap from="~reset_lateral_kalman_in" to="~reset_lateral_kalman" />
      <remap from="~reset_hector_in" to="~reset_hector" />
      <remap from="~reliable_hector_in" to="~set_hector_reliable" />
      <remap from="~toggle_callbacks_in" to="~toggle_callbacks" />

      <remap from="~failsafe_out" to="control_manager/failsafe" />
      <remap from="~hover_out" to="control_manager/hover" />
      <remap from="~ereference_out" to="control_manager/emergency_reference" />
      <remap from="~enable_callbacks_out" to="control_manager/enable_callbacks" />
      <remap from="~hector_map_reset_out" to="hector_mapping/syscommand" />

    </node>

  </group>

</launch>
