<launch>

  <!-- args corresponding to environment variables -->
  <arg name="UAV_NAME" default="$(optenv UAV_NAME)" />
  <arg name="PROFILER" default="$(optenv PROFILER false)" />

    <!-- other args -->
  <arg name="standalone" default="false" />
  <arg name="debug" default="false" />

  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="standalone" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="load" />
  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="$(arg UAV_NAME)_nodelet_manager" />

  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <group ns="$(arg UAV_NAME)">

    <node pkg="nodelet" type="nodelet" name="rtk_republisher" args="$(arg nodelet) mrs_uav_odometry/RtkRepublisher $(arg nodelet_manager)" output="screen" launch-prefix="$(arg launch_prefix)">

      <rosparam file="$(find mrs_uav_odometry)/config/rtk_republisher.yaml" />
      <param name="enable_profiler" value="$(arg PROFILER)" />

        <!-- Subscribers -->
      <remap from="~odom_in" to="ground_truth" />
      <remap from="~tersus_in" to="rtk/bestpos" />

        <!-- Publishers -->
      <remap from="~profiler" to="profiler" />
      <remap from="~rtk_out" to="rtk_gps/global" />
      <remap from="~pose_out" to="ground_truth_pose" />

    </node>

  </group>

</launch>
