<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav1)"/>
  <arg name="fcu_frame" default="fcu_$(arg uav_name)" />
  <arg name="garmin_frame" default="garmin_$(arg uav_name)" />
  <arg name="bluefox_frame" default="bluefox_$(arg uav_name)" />

  <group ns="$(arg uav_name)">

    <!-- x y z r p y parent child -->

    <!-- garmin -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg garmin_frame)_to_$(arg fcu_frame)" args="0.19918 -0.115 -0.025 0 1.57079632679 0.523599 $(arg fcu_frame) $(arg garmin_frame)" />

    <!-- bluefox -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg bluefox_frame)_to_$(arg fcu_frame)" args="0.108 0 -0.085 0 1.57079632679 0.523599 $(arg fcu_frame) $(arg bluefox_frame)" />

  </group>
</launch>

