<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>
  <arg name="world_file" default="$(find mrs_main)/config/world_current.yaml"/>

  <include file="$(find mrs_mavros_interface)/launch/mavros_interface.launch" />

  <group ns="$(arg uav_name)">

    <node pkg="nodelet" type="nodelet" name="odometry" args="load mrs_odometry/Odometry $(arg uav_name)_nodelet_manager" output="screen">

      <rosparam file="$(find mrs_odometry)/config/f550.yaml" />
      <rosparam file="$(arg world_file)" />

      <!-- Parameters -->
      <param name="uav_name" type="string" value="$(arg uav_name)"/>
      <param name="simulation" type="bool" value="true"/>

      <!-- Subscribers -->
      <remap from="~pixhawk_odom" to="mavros_interface/converted_mavros_odom" />
      <remap from="~terarangerone" to="teraranger/range" />
      <remap from="~garmin" to="garmin/range" />
      <remap from="~global_position" to="mavros/global_position/global" />
      <remap from="~tracker_status" to="control_manager/tracker_status" />
      <remap from="~rtk_gps" to="rtk_gps/local" />
      <remap from="~object_altitude" to="landing_object_controller/current_target" />

      <!-- Publishers -->
      <remap from="~new_odom" to="~new_odom" />
      <remap from="~profiler" to="profiler" />

      <!-- Services -->
      <remap from="~toggle_teraranger" to="~toggle_teraranger" />
      <remap from="~toggle_rtk_altitude" to="~toggle_rtk_altitude" />

    </node>

  </group>

</launch>
