<launch>

  <arg name="debug" default="false" />

  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb -ex run --args"/>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>
  <arg name="world_file" default="$(find mrs_main)/config/world_current.yaml"/>

  <include file="$(find mrs_mavros_interface)/launch/mavros_interface.launch" />

  <include file="$(find mrs_mavros_interface)/launch/mavros_diagnostics.launch" />

  <group ns="$(arg uav_name)">

    <node pkg="nodelet" type="nodelet" name="odometry" args="load mrs_odometry/Odometry $(arg uav_name)_nodelet_manager" output="screen" launch-prefix="$(arg launch_prefix)">


      <rosparam file="$(find mrs_odometry)/config/uav.yaml" command="load" />
      <rosparam file="$(arg world_file)" />

      <!-- parameter -->
      <param name="uav_name" type="string" value="$(arg uav_name)"/>
      <param name="simulation" type="bool" value="false"/>
      <param name="use_gt_orientation" type="bool" value="false"/>

      <!-- Subscribers -->
      <remap from="~target_attitude_in" to="mavros/setpoint_raw/target_attitude" />
      <remap from="~pixhawk_odom_in" to="mavros_interface/converted_mavros_odom" />
      <remap from="~optflow_in" to="optic_flow/velocity" />
      <remap from="~optflow_stddev_in" to="optic_flow/velocity_stddev" />
      <remap from="~vio_in" to="mavros_interface/converted_mavros_odom" />
      <remap from="~terarangerone_in" to="teraranger/range" />
      <remap from="~garmin_in" to="garmin/range" />
      <remap from="~global_position_in" to="mavros/global_position/global" />
      <remap from="~tracker_status_in" to="control_manager/tracker_status" />
      <remap from="~rtk_gps_in" to="rtk_gps/global" />
      <remap from="~object_altitude_in" to="landing_object_controller/current_target" />
      <remap from="~icp_relative_in" to="forest_slam/odom_corr" />
      <remap from="~icp_global_in" to="forest_slam/odom_corr_global" />
      <remap from="~ground_truth_in" to="ground_truth" />
      <remap from="~mavros_diagnostic_in" to="mavros_interface/diagnostics" />

      <!-- Publishers -->
      <remap from="~new_odom_out" to="~new_odom" />
      <remap from="~profiler_out" to="profiler" />
      <remap from="~rtk_local_out" to="~rtk_local" />
      <remap from="~rtk_local_odom_out" to="~rtk_local_odom" />
      <remap from="~odometry_diag_out" to="~diagnostics" />
      <remap from="~altitude_out" to="~altitude" />
      <remap from="~max_altitude_out" to="~max_altitude" />

      <!-- Services -->
      <remap from="~average_current_position_in" to="~average_current_position" />
      <remap from="~toggle_garmin_in" to="~toggle_garmin" />
      <remap from="~toggle_rtk_altitude_in" to="~toggle_rtk_altitude" />
      <remap from="~toggle_rtk_pos_fusion_in" to="~toggle_rtk_pos_fusion" />
      <remap from="~toggle_icp_pos_fusion_in" to="~toggle_icp_pos_fusion" />
      <remap from="~toggle_icp_vel_fusion_in" to="~toggle_icp_vel_fusion" />
      <remap from="~toggle_mavros_pos_fusion_in" to="~toggle_mavros_pos_fusion" />
      <remap from="~toggle_mavros_vel_fusion_in" to="~toggle_mavros_vel_fusion" />
      <remap from="~toggle_optflow_vel_fusion_in" to="~toggle_optflow_vel_fusion" />
      <remap from="~toggle_mavros_tilts_fusion_in" to="~toggle_mavros_tilts_fusion" />
      <remap from="~change_odometry_mode_in" to="~change_odometry_mode" />
      <remap from="~change_odometry_mode_string_in" to="~change_odometry_mode_string" />
      <remap from="~reset_lateral_kalman_in" to="~reset_lateral_kalman" />

    </node>

  </group>

</launch>
